@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    color: #45665D;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    width: 100%;
    padding: 30px;
    background-color: #ff6349;
    text-align: center;
    color: white;
}

nav .hero {
    display: flex;
    width: 750px;
    justify-content: space-between;
    flex-wrap: wrap;  
    margin: auto;
    align-items: center;
}

nav .hero .left {
    text-align: left;
}

nav .hero .logo img{
    width: 100%;
    height: 100%;
    padding: 50px;
}

nav .hero .hero-head{
    font-weight: 900;
    font-size: 48px;
    color: #FFFFFF;
}

nav .hero .hero-subHead{
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
    padding: 25px 0;
}

nav .hero .hero-body{
    font-weight: 300;
    font-size: 14px;
    color: #FFFFFF;
}

.other-nav div {
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
}

.other-nav div:nth-child(2) {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

.main {
    width: calc(100% - 40px);
    max-width: 750px;
    margin: auto;
}

.main {
    padding-bottom: 10px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0;
}

.main:first-of-type {
    padding-top: 20px;
}

.dash { /* Masonry container */
    column-count: 2;
    column-gap: 20px;
}

.single {
    column-count: 1;
}

.main input, .main select {   
    height: 62px;
    margin: 10px 0;
    border: 0;
    background: #FFFFFF;
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.18);
}

/*placeholder text on form*/
input::-webkit-input-placeholder, 
select::-webkit-input-placeholder{ 
    font-weight:200;
    font-size: 24px;
    color: #607D8B;
}

/*placeholder text on form*/
input, 
select { 
    font-weight:400;
    font-size: 24px;
    color: #485e69;
    padding-left: 20px;
    appearance: none;
     -webkit-appearance: none;
}

.main select {
    padding-left: 10px;
    background: white url(img/dropDown.png) no-repeat;
    background-position: right 10px center;
    background-size: 25px 25px;
}

.card {
    margin: 10px 0;
    padding: 10px;
    box-shadow:  0 0 16px 0 rgba(0,0,0,0.18);
    transition: 0.3s;
    background-color: white;
    display: inline-block;
    width: 100%;
}

.card .header {
    font-size: 18px;
    font-weight: 900;
    color: #ff6349;
    text-transform: uppercase;
}

.card .result {
    font-size: 72px;
    font-weight: 300;
    margin-left: -4px;
}

a .card {
    text-decoration: none;
}

.card .transcript-result .taylr td:first-of-type {
    color: #ff6349;
}

.card .transcript-result .taylr td {
    font-weight: 600;
}

.card .transcript-result tr td:first-of-type {
    width: 30px;
    font-weight: 600;
}

.card .transcript-result .interviewee {
    color: #607D8B;
}

.card .transcript-result .interviewee td:last-of-type {
    font-weight: 400;
    padding-bottom: 15px;
}

.card .transcript-result .taylr td:last-of-type {
    color: #48565D;
}

.card .transcript-result table tr td {
    font-size: 16px;
    vertical-align: top;
    padding-top: 15px;
}

.expand {
    color: #ff6349;
    font-weight: 900;
    font-size: 26px;
    text-align: center;
    display: table;
    margin-top: -115px;
    height: 50px;
    width: 100%;
}

.expand div {
    padding-top: 100px;
    display: table-cell;
    vertical-align: bottom;
    position: relative;
    z-index: 100;
    background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, rgba(255,255,255,0) 100%);
    background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, rgba(255,255,255,0) 100%);
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, rgba(255,255,255,0) 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(100, rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, rgba(255,255,255,0) 100%);
    background-image: linear-gradient(to top, #FFFFFF 0%, rgba(255,255,255,0) 100%);
}

.simple {
    font-size: 18px;
}

.section {
    padding-bottom: 20px;
}

.container {
    padding: 2px 16px;
}

.full {
    flex-basis: 100%;
}

.half {
    flex-basis: calc(50% - 12px);
}

.single .container {
    margin-top: 20px;
}

.single .container:first-child {
    margin-top: 0;
}

hr {
    border: none;
    border-bottom: 1px solid #dbdada;
}

.highlight {
    background-color: yellow;
}

.section-header {
    font-weight: bold;
    font-size: 24px;
    margin: 10px 0;
}

button {
    background-color: #ff6349;
    border-radius: 99px;
    border: 0px;
    padding: 10px 20px;
    margin: 20px 0 0 0;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    letter-spacing: 0.5px;
    display: inline-block;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.12);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    text-transform: uppercase;
    display: inline-block;
}

button:hover {
    box-shadow: 0 4px 32px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.14);
}

.button {
    text-align: center;
}

ol {
  margin: 1em 0;
  padding: 0;
  counter-reset: item;
}

ol > li {
  margin: 0;
  padding: 0 0 0 2em;
  text-indent: -2em;
  list-style-type: none;
  counter-increment: item;
}

ol > li:before {
  display: inline-block;
  width: 1em;
  padding-top: .5em;
  padding-right: 1em;
  font-weight: bold;
  text-align: right;
  content: counter(item) ".";
}

.hide, hr {
    display: none;
}

.hide.show, hr.show {
    display: block;
}

.canvas {
    max-width: 400px;
    margin: auto;
}

footer{
    width: 100%;
    margin: auto;
    background-color: #48565D;
    padding: 50px;
}

footer .foot-txt{
    font-weight: 300;
    font-size: 14px;
    color: #CED8DD;
    text-align: center;
    line-height: 28px;
}

.card .result.meter {
    padding: 10px 0;
    font-size: 16px;
}

meter {
  width: 100%;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

meter::-webkit-meter-bar {
  background: none; /* Required to get rid of the default background property */
  background-color: whiteSmoke;
  box-shadow: 0 5px 5px -5px #333 inset;
}

meter::-webkit-meter-optimum-value {
  box-shadow: 0 5px 5px -5px #999 inset;
  background-image: linear-gradient(
    90deg, 
    #607D8B 100%,
    #607D8B 100%
  );
  background-size: 100% 100%;
}

meter::-webkit-meter-optimum-value {
  -webkit-transition: width .5s;
}

meter {
  position: relative;
  font-size: 16px;
}

meter::before {
  content: 'Below Average';
  position: absolute;
  bottom: -100%;
}

meter::after {
  content: 'Above Average';
  position: absolute;
  bottom: -100%;
  right: 0;
}

.card .result.meter + .subtext {
    margin-top: 25px;
}

@media screen and (max-width: 850px) {
    .full, .half {
        flex-basis: 100%;
    }
    
    nav .hero .logo img {
        max-width: 400px;
    }
    
    nav .hero {
        width: 100%;
    }
}