<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" href="/static/style.css" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <script src="/static/scripts/jquery.animateNumber.min.js" type="text/javascript"></script>

        <script>
            $( document ).ready(function() {
                $('.card-expand').click(function() {
                    $(this).find(".hide").toggleClass('show');
                    $(this).find("hr").toggleClass('show');
                })
            });
            
          function animateNumberPadding(max_number, identity) {
                var padding_zeros = '';
              for(var i = 0, l = max_number.toString().length; i < l; i++) {
                padding_zeros += '0';
              }

              var padded_now, numberStep = function(now, tween) {
                var target = $(tween.elem),
                    rounded_now = Math.round(now);

                var rounded_now_string = rounded_now.toString()
                padded_now = padding_zeros + rounded_now_string;
                padded_now = padded_now.substring(rounded_now_string.length);

                target.prop('number', rounded_now).text(padded_now);
              };

                $('#' + identity).animateNumber({
                  number: max_number,
                  numberStep: numberStep
                }, 500);
          };
            
            function animateNumber(max_number, identity) {
                $('#' + identity).animateNumber({ number: max_number });
            }
        </script>
        
        


    </head>
    <body>
        <nav>
            <div>Taylr Results</div>
        </nav>
        <div class="main">
            <div class="text half section">
                <div class="section-header">Hi {{ interview.name }}</div>
                <div class="simple">Thanks for your 30 minute interview with
                    Taylr on {{ interview.created_at.strftime("%B %d, %Y at %H:%M %P") }} for technical questions in financial careers. We listened to your call and here's what we found:</div>
            </div>
            <div class="card half">
                <div class="container">
                    <div class="header">Overall Grade</div>
                    <div class="result">B+</div>
                </div>                    
            </div>
        </div>
        <div class="main">
            <div class="text">
                <div class="simple">Results Overview:</div>
            </div>
        </div>
        <div class="main dash">
            <div class="card">
                <div class="container">
                    <div class="header">Grammar</div>
                    <div class="result meter">
                        <meter max=100 min=0 value=50></meter>
                    </div>
                    <div class="subtext">
                        Showing joy, fear, anger, disgust or sadness can give an interviewer a lot of different impressions. Try to show a good attitude and put a positive spin on difficult situations!
                    </div>
                </div>                    
            </div>
            <div class="card">
                <div class="container">
                    <div class="header">Average Response Time</div>
                    <div class="result">00:00:<span id="number">00</span></div>
                    <script>animateNumberPadding(17, 'number');</script>
                    <div class="subtext">Keeping short response times tells the interviewer that you are prepared and interested.</div>
                </div>                    
            </div>
            <div class="card">
                <div class="container">
                    <div class="header">Sentiment Analysis</div>
                    <div class="result sent-meter meter">
                        <meter max=100 min=0 value=50></meter>
                    </div>  
                    <div class="subtext">A positive or negative sentiment can say a lot about your attitude towards an interview and a potential employer. Based on the context of your interview, be sure to pay attention to how you present yourself.</div>                      
                </div>                    
            </div>
            <div class="card">
                <div class="container">
                    <div class="header">Emotions</div>
                    <div class="result">
                        <canvas id="emotion"></canvas>
                        <script>
                            var ctx = $("#emotion"),
    graph_data = [10, 20, 30, 15, 25];

var emotionRadarChart = new Chart(ctx, {
    type: 'radar',
    data: {
        labels: [
            "Joy", 
            "Disgust", 
            "Fear", 
            "Anger", 
            "Sadness"
        ],
        datasets: [
            {
                data: graph_data,
                label: "",
                backgroundColor: "",
                borderColor: "#FF6349",
                borderWidth: 4,
                borderJoinStyle: "round",
                pointBackgroundColor: "rgb(255, 104, 104)",
                pointBorderColor: "#fff",
                pointHoverBackgroundColor: "#fff",
                pointHoverBorderColor: "rgba(179,181,198,1)"
            }
        ]
    },
    options: {
        scale: {
            reverse: false,
            ticks: {
                stepSize: (Math.ceil(Math.max.apply( Math, graph_data) / 25) * 25)/3,
                beginAtZero: true,
                min: 0,
                max: Math.ceil(Math.max.apply( Math, graph_data) / 25) * 25,
                display: false
            }
        },
        legend: {
            display: false,
            position: 'bottom'
        }
    }
})
                        </script>
                    </div>
                    <div class="subtext">
                        Showing joy, fear, anger, disgust or sadness can give an interviewer a lot of different impressions. Try to show a good attitude and put a positive spin on difficult situations!
                    </div>
                </div>                    
            </div>
            <div class="card">
                <div class="container">
                    <div class="header">Filler Words</div>
                    <div class="result">0</div>
                    <script>animateNumber({{ analysis['stats']['num_filler_words'] }}, 'filler');</script>
                    <div class="subtext">
                        In an effort to work toward a goal of using fewer filler words, consider taking meaningful pauses.
                    </div>
                    <div class="result">
                        <canvas id="fillerWords"></canvas>
                        <script>
                            var ctx = $("#fillerWords");

var fillerBarChart = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
        labels: ["Like", "Um", "So", "Uh", "You know"],
        datasets: [
            {
                label: "Filler words",
                backgroundColor: [
                    '#48565D',
                    '#1A272E',
                    '#93AAB5',
                    '#D7DEE1',
                    '#607D8B'
                ],
                borderWidth: 0,
                data: [65, 59, 80, 81, 56, 55]
            }
        ]
    },
    options: {
        gridLines: {
            display: false
        },
        scales: {
            xAxes: [{
                stacked: true
            }],
            yAxes: [{
                stacked: true
            }],
            display: false
        },
        legend: {
            display: false,
            position: 'bottom'
        }
    }
});


                        </script>
                    </div>
                    <div class="subtext">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, ab?
                    </div>
                </div>                    
            </div>

            <a href="/interviews/{{ interview.interview_id }}/transcripts">
                <div class="card">
                    <div class="container">
                        <div class="header">Transcript</div>
                        <div class="transcript-result">
                            <table>
                                {% for result in results[:2] %}
                                <tr class="taylr">
                                    <td>T:</td>
                                    <td>{{ result[0].question | truncate(100) }}</td>
                                </tr>
                                <tr class="interviewee">
                                    <td>E:</td>
                                    <td>{{ result[1].text | truncate(100) }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                            <div class="expand">
                                <div>&hellip;</div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </a>
        </div>
        <footer>
            <div class="foot-txt">&copy; 2017</div>
            <div class="foot-txt">Made at HackBU by Md Islam, Akash Kodhawale, Rohit Kapur and Emma Siegel</div>
        </footer>
    </body>
</html>
