<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" href="/static/style.css" rel="stylesheet">
    </head>
    <body>
        <nav>
            <div>Taylr</div>
        </nav>
        <div class="main">
            <form id='info'>
                <input type="text" class="full" name="name" id="name" placeholder="Name"/>
                <input type="text" class="half" name="email" id="email" placeholder="Email"/>
                <input type="text" class="half" name="phone" id="phone" placeholder="Phone"/>
                <div class="quarter filler"></div>
                <select name="career" id="career" class="half">
                    <option value="item1">Career</option>
                    <option value="item2">This is a job 2</option>
                    <option value="item3">This is a job 3</option>
                    <option value="item4">This is a job 4</option>
                    <option value="item5">This is a job 5</option>
                </select>
                <div class="quarter filler"></div>
                <div class="quarter filler"></div>
                <select name="types" id="types" class="half">
                    <option value="item1">Question Type</option>
                    <option value="item2">This is a job 2</option>
                    <option value="item3">This is a job 3</option>
                    <option value="item4">This is a job 4</option>
                    <option value="item5">This is a job 5</option>
                </select>
                <div class="quarter filler"></div>
                <div class="quarter filler"></div>
                <select name="duration" id="duration" class="half">
                    <option value="item1">Duration</option>
                    <option value="item2">This is a job 2</option>
                    <option value="item3">This is a job 3</option>
                    <option value="item4">This is a job 4</option>
                    <option value="item5">This is a job 5</option>
                </select>
                <div class="quarter filler"></div>
                
            </form>
        </div>
    </body>
</html>
